<div class="row">
    <h1>User data</h1>

    <table>
        
        <tr>
            <th>Username</th>
            <th>Number of greet</th>
        </tr>

        {{#each name}}
        <tr>
            <td>{{username}}</td>
            <td>{{numberOfGreetings}}</td>
        </tr>
        {{/each}}

    </table>
    
</div>