<div class="row">
    {{#each name}}
    <h1>{{username}} number of greetings</h1>

    <table class="table table-striped">
        
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Number of greet</th>
        </tr>

        <tr>
            <td>{{username}}</td>
            <td>{{counter}}</td>
        </tr>

    </table>
    {{/each}}
    
</div>