<div class="row">
    {{#each name}}
    <h1>{{name}} number of greetings</h1>

    <table>
        
        <tr>
            <th>Username</th>
            <th>Number of greet</th>
        </tr>

        <tr>
            <td>{{name}}</td>
            <td>{{count}}</td>
        </tr>

    </table>
    {{/each}}
    
</div>